[Unit]
Description=ComfyUI - Diffusion Model GUI and Backend
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStartPre=/bin/mkdir -p /var/lib/comfyui/custom_nodes /var/lib/comfyui/user
ExecStart=/usr/bin/comfyui --base-directory /var/lib/comfyui --database-url sqlite:////var/lib/comfyui/user/comfyui.db --listen 127.0.0.1 --port 8188
DynamicUser=yes
SupplementaryGroups=video render
StateDirectory=comfyui
WorkingDirectory=/var/lib/comfyui

[Install]
WantedBy=multi-user.target
