[Unit]
Description=ComfyUI - Diffusion Model GUI and Backend
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStartPre=/bin/mkdir -p %S/comfyui/custom_nodes %S/comfyui/user
ExecStart=/usr/bin/comfyui --base-directory %S/comfyui --database-url sqlite:///%S/comfyui/user/comfyui.db --listen 127.0.0.1 --port 8188

[Install]
WantedBy=default.target
